// body {
//   overflow: hidden;
// }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  background-color: rgba(3, 60, 63, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poiret One', cursive;
  pointer-events: all;
  opacity: 1;
  transition: 0.3s all;

  .wrap-modal {
    width: 50%;
    height: 65vh;
    background-color: rgba(3, 60, 63, .95);
    border-radius: 20px;
    box-shadow: 0 0 10px 4px #000;
    position: relative;
    transform: scale(1);
    transition: 0.3s all;
  }

  .reset {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    border: none;
    outline: none;
    font-size: 40px;
    background-color: transparent;
    color: #FFF;
  }

  button:hover {
      cursor: pointer;
      color: #FFA500;
  }

  button:focus {
      outline: none;
  }

  form {
    padding-top: 100px;

    div {
      padding: 20px 50px;
      display: flex;
    }
  }

  label {
    flex: 1;
    color: #FFF;
    font-size: 26px;
    letter-spacing: 2px;
    padding-right: 10px;
  }

  input {
    flex: 2;
    font-size: 30px;
  }

  input:focus {
    outline: none;
  }

  .buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
  }

  .ok,
  .registration,
  span {
    font-size: 26px;
    background-color: transparent;
    margin-right: 10px;
    color: #FFF;
    border: none;
    outline: none;
  }

  span {
    padding: 0 10px;
    font-size: 36px;
  }
}

.modal-hidden {
  pointer-events: none;
  opacity: 0;
    .wrap-modal {
      transform: scale(0.5);
    }
}

@media screen and (max-width: 1100px) {
  .modal {
    .wrap-modal {
      width: 70%;
    }
  }
}

@media screen and (max-width: 900px) {
  .modal {
    .wrap-modal {
      width: 80%;
    }
  }
}

@media screen and (max-width: 770px) {
  .modal {
    .wrap-modal {
      width: 95%;
    }
  }
}

@media screen and (max-width: 570px) {
  .modal {
    .wrap-modal {
      width: 95%;
    }

    form {
      padding-top: 50px;

      div.login,
      div.password {
        flex-direction: column;

        label {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .modal {

    .wrap-modal {
      height: 80vh;
    }

    form {
      padding-top: 40px;

      div {
        padding: 10px;
        display: flex;
      }

      label {
        padding-right: 0;
      }

    }
  }
}
