// .App {
//   background-color: aqua;
//   height: 100vw;
//   width: 100%;
// }

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


html,
body,
div,
h1 {
  margin: 0;
  padding: 0;
}

.preloader {
  z-index: 999999;
  position: fixed;
  background: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: 1s all;    
}

.preloader-hidden {
  opacity:0;
}