.item-country {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poiret One', cursive;

  h4 {
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 3px;
  }

  h5 {
    margin: 10px;
    font-size: 20px;
    text-align: left;
  }

  a {
    display: block;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: #000;
    transition: border-color .3s;

    &:hover {
      border-color: #3ec8b4;
    }
  }

  .item {
    width: 33.3%;
    margin-bottom: 40px;
  }

  .wrap-country {
    padding: 5px;
  }

  .country {
    padding-bottom: 20px;
  }

  .country-img {
    height: 400px;
    overflow: hidden;
  }

  .country-img img {
    max-width: 150%;
    filter: grayscale(50%);
    transition: transform .3s;

    &:hover {
      transform: scale(1.2);
      filter: grayscale(10%);
    }
  }
}

@media screen and (max-width: 1700px) {
  .item-country {
    .country-img {
      height: 300px;
    }
}
}

@media screen and (max-width: 1150px) {
  .item-country {

    .item {
      width: 50%;
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 800px) {
  .item-country {
    .country-img {
      height: 260px;;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 750px) {
  .item-country {
    .country-img {
      height: 220px;;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 650px) {
  .item-country {

    .country-img img {
      max-width: 100%;
    }

    .item {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 400px) {
  .item-country {
    .country-img {
      height: 150px;;
      overflow: hidden;
    }
  }
}
