@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.item-country {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poiret One', cursive;

  a {
    display: block;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    color: #000;
    transition: border-color .3s;

    &:hover {
      // border-color: #02858F;
      border-color: #3ec8b4;
    }
  }

  .item {
    width: 33.3%;
    margin-bottom: 40px;
  }

  .wrap-country {
    padding: 5px;
  }

  .country {
    padding-bottom: 20px;
  }

  .country-img {
    overflow: hidden;
  }

  .country-img img {
    max-width: 100%;
    filter: grayscale(30%);
    transition: transform .3s;

    &:hover {
      transform: scale(1.2);
    }
  }

  h4 {
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 3px;
  }

  h5 {
    margin: 10px;
    font-size: 20px;
    text-align: left;
  }
}
