.wrap-country-description {
  font-family: 'Poiret One', cursive;
  font-size: 26px;
  line-height: 1.5;

  .wrap-country-title {
    padding: 50px;
    display: flex;
  }

  .wrap-country-name {
    width: 40%;

    h2 {
      margin-top: 0;
      margin-bottom: 5px;
    }

    .country {
      color: #033c3f;

    }

    .capital {
      margin-right: 40px;
      font-weight: normal;
      font-size: 28px;
      border-bottom: 1px solid  #033c3f;
    }
  }

  .wrap-country-title-img {
    width: 60%;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  .wrap-country-info {
    padding-right: 40px;
    font-size: 20px;
  }


}
