header {
  background: url(../../assets/background-header.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.description {
  position: absolute;
  right: 40px;
  bottom: 0;
  text-align: right;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  font-size: 50px;
  color: #FFF;
  letter-spacing: 5px;
}

@media screen and (max-width: 700px) {
  header {
    border-top: 78px solid#032a2a;
    height: calc(100vh - 78px);
  }
}

@media screen and (max-width: 470px) {
  header {
    border-top: 94px solid#032a2a;
    height: calc(100vh - 94px);
  }
}

@media screen and (max-width: 408px) {
  header {
    border-top: 78px solid#032a2a;
    height: calc(100vh - 78px);
  }
}
