@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');
.gallery {

  font-family: 'Poiret One', cursive;

  .wrap-gallery {
    padding: 40px;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    width: 49%;
    margin-right: 1%;
    margin-bottom: 40px;

    .wrap-item {
      position: relative;
      overflow: hidden;
      font-size: 0;
    }

    img {
      max-width: 100%;
      position: relative;
      transition: transform .3s;
    }

    .item-content {
      position: absolute;
      top: 0;
      left: 100%;
      width: 50%;
      height: 100%;
      background-color: rgba(1, 15, 17, .9);
      transition: left .3s;

      h4 {
        padding: 30px;
        font-size: 26px;
        color: #FFF;
        text-transform: uppercase;
        text-align: right;
        letter-spacing: 3px;
      }
    }

    &:hover {

      .item-content {
        left: 50%;
      }

      img {
        transform: translateX(-50px) scale(1.2);
      }
    }
  }

  .item-preview {
    padding: 10px 50px;
    font-family: 'Shippori Mincho', serif;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
  }
}
