@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
.wrap-description {
  text-align: center;
  padding: 10px;
}
.wrap-description p:first-child {
  margin: 0;
  padding: 100px 0;
  font-family: 'Poiret One', cursive;
  font-size: 80px;
  color: #000;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.wrap-description p:last-child{
  margin: 0;
  margin-top: -130px;
  padding: 0;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 60px;
  letter-spacing: 20px;

  color: #FFA500;
}
