.visible {
  overflow: hidden;
}

.prev,
.next {
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.next {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.prev {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.show .prev,
.show .next {
  display: block;
}

.prev:hover,
.next:hover {
  background-color: rgba(1, 15, 17, 0.9);
  color: #FFF;
  cursor: pointer;
}

.prev:focus,
.next:focus {
  outline: none;
}

.gallery li.show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, .9);

  .wrap-show {
    width: 70%;
    margin: 50px auto;

    .wrap-item {
      width: 60%;
      margin: auto;
      overflow: visible;
      transform: translateX(-25%);

      .item-content {

      }
    }
  }

  &:hover {

    .item-content {
      left: 100%;
    }

    img {
      transform: translateX(0) scale(1);
    }
  }
}


@media screen and (max-width: 1100px) {
  div.gallery .item:hover  img {
    transform: translateX(-10px) scale(1.05);
  }

  div.gallery .item.show:hover  img {
    transform: translateX(0) scale(1);
  }
}

@media screen and (max-width: 850px) {
  .gallery div.wrap-gallery {
    padding: 10px;
  }

  .gallery .item-gallery {
    justify-content: center;
  }

  .gallery li.item {
    width: 90%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .gallery li.item.show {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;

    .wrap-show {
      width: 90%;
    }
  }
}

@media screen and (max-width: 700px) {
  .gallery div.item-preview {
    padding: 10px 0;
  }
}

@media screen and (max-width: 650px) {
  .gallery .item div.item-content h4 {
    font-size: 20px;
  }

  .gallery li.item.show {

    .wrap-show {
      h4 {
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}
