.lang {
  display: flex;

  select {
    padding: 0 10px;
  }

  select:focus {
    outline: none;
  }
}

@media screen and (max-width: 470px) {
  .lang select {
    width: 100%;
  }
}

@media screen and (max-width: 408px) {
  .lang {
    width: 85.75px;
    position: absolute;
    top: 130px;
    right: 0;
  }

  header.country .lang {
    width: 85.75px;
    position: static;
    top: 0;
    right: 0;
  }
}
